$scroll-snap-enabled: false;
$box-size: 16vmin;
$semicircle-size: 3em;

article.home-page {
    .nav-scrollable-tabs {
        a {
            display: inline;
            margin-right: .5em;
            font-size: 1.25em;
            &.active {
                color: $body-color;
                @include underline();
            }
        }
    }
    .section-container > section {
        padding: 2rem 0;
        line-height: 1.5;
        &:first-child {
            padding-top: 0;
        }
    }
    header h2 {
        margin-bottom: .35em;
    }

    ////// HERO //////
    section#hero {
        display: flex;
        flex-direction: row;
        margin-bottom: 0;
        .totem-container {
            width: 100%;
            height: 80vh;
            flex-shrink: 0;
            padding: 0;
            img {
                max-width: 100%;
                height: 100%;
                object-fit: contain;
                padding-top: 10px;
            }
        }
        #totem-right img {
            float: right;
        }
        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h2 {
                font-size: 2.5em;
                text-align: center;
            }
            img {
                padding: 2em 0;
                max-width: 80%;
                object-fit: contain;
            }
            .infobox {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-bottom: 2em;
                .date {
                    .monthday {
                        font-weight: bold;
                        text-align: center;
                        margin-bottom: 1.5rem;
                    }
                }
                .location {
                    display: flex;
                    flex-direction: row;
                    h3 {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        flex-wrap: wrap;
                        width: 35%;
                        padding: 0 0.5em;
                    }
                    img {
                        object-fit: contain;
                        max-width: 7em;
                        padding: 0 1.4em;
                        width: 30%;
                    }
                }
            }
        }
        .year {
            font-size: 3.45em;
            :nth-child(1) {
                color: $primary;
            }
            :nth-child(2) {
                color: $secondary;
            }
        }
        .location {
            position: relative;
            h2 {
                height: 100%;
                margin-bottom: 0;
                font-size: 1.35em;
                :nth-child(1) {
                    letter-spacing: .25em;
                    margin-right: -.25em;
                }
                :nth-child(2) {
                    letter-spacing: .49em;
                    margin-right: -.49em;
                }
            }
        }
    }

    ////// SUMMARY //////
    section#summary {
        .summary-container {
            padding: 0 $page-padding-x-lg;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
                padding: 4vh 2vw;
                animation: rotation 8s infinite linear;
            }
            // #summary-totem {
            //     height: 20em;
            // }
            --poster-color: transparent;
            --progress-bar-color: transparent;
            --progress-mask: transparent;
            .summary-text {
                display: flex;
                flex-direction: column;
                padding: 4vh 2vw;
                justify-content: center;
            }
        }
    }

    ////// LINEUP //////
    section#lineup {
        .tab-content{
            .lineup-container .lineup-inner{
                width: 100%;
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;
                .lineup-type-title {
                    width: 100%;
                    margin-bottom: 1em;
                    text-align: center;
                    font-size: 2.5rem;
                }
                .presenter-card {
                    min-height: 17em;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 1em;
                    img {
                        width: 100%;
                        height: 12em;
                        object-fit: cover;
                        background-color: black;
                        border-radius: $border-radius $border-radius 0 0;
                    }
                    .info {
                        min-height: 3.5em;
                        display: flex;
                        flex-flow: column wrap;
                        align-items: center;
                        border: 1px solid $body-color;
                        border-top: none;
                        border-radius: 0 0 $border-radius $border-radius;
                        padding: 0.2em 0;
                        p {
                            &:first-child {
                                font-size: 1.2rem;
                            }
                            font-size: 1rem;
                            margin: auto;
                            text-align: center;
                        }
                    }
                    &:hover {
                        transform: scale(1.02);
                        transition: .3s ease-in-out;
                    }
                    &.placeholder {
                        opacity: 0.6;
                        transform: none;
                    }
                }
            }
        }
        #lineup-pills-tab {
            display: flex;
            justify-content: center;
            .nav-link {
                border-radius: $border-radius;
                &.active {
                    color: $body-bg;
                    font-weight: bold;
                }
            }
        }
    }

    ////// VENUE //////
    section#venue{
        display: flex;
        flex-direction: column;
        align-items: center;
        .location{
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 18em;
            font-weight: lighter;
            text-align: center;
            .image-container {
                height: 100%;
                width: 56%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 0 $border-radius $border-radius 0;
                    border: 1px solid $body-color;
                    border-left: none;
                }
            }
            .map {
                height: 100%;
                width: 42%;
                margin-left: auto;
                border-radius: $border-radius 0 0 $border-radius;
                overflow: hidden;
                position: relative;
                iframe {
                    width: 100%;
                    height: 100%;
                    border: 1px solid $body-color;
                    border-right: none;
                }
            }
        }
        .access {
            display: flex;
            flex-direction: row;
            align-items: center;
            h3 {
                height: 6em;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding: 0 2em;
                border-right: 3px solid $body-color;
            }
            .content {
                padding: 0 2em;
                font-size: 1rem;
            }
        }
    }

    #social-container {
        height: auto;
        width: 7em;
        position: fixed;
        top: 50%;
        left: 0;
        padding-top: 5em;
        transform: translate(0, -50%);
        opacity: 0;
        img {
            width: 4.5em;
            height: 4.5em;
            padding: 0 1em;
            object-fit: contain;
            opacity: 0.3;
            &:hover {
                cursor: pointer;
                opacity: 1;
            }
        }
        &.scrolled {
            opacity: 1;
            transition: .8s ease-in-out;
        }
    }
}

@media (max-width: 372px) {
    .lineup-container {
        padding: 0 5px;
        .presenter-card {
            padding: 0 5px;
            p {
                font-size: 0.8rem !important;
                &:first-child {
                    font-size: 1rem !important;
                }
            }  
        }
    }
}

@include media-breakpoint-down(xs) {
    article.home-page {
        section#hero {
            .totem-container {
                display: none;
            }
            .content{
                @include make-col(12);
                h3 {
                    font-size: 4.5vw;
                }
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    article.home-page {
        section#summary {
            .summary-container {
                padding: 0 $page-padding-x;
                img {
                    position: absolute;
                    max-height: 70vh;
                    width: auto;
                    z-index: -1;
                    filter: blur(5px);
                    padding: 0;
                }
                #summary-totem {
                    position: absolute;
                    filter: blur(5px);
                }
                .summary-text {
                    text-align: center;
                }
            }
        }
        section#venue {
            .location {
                flex-direction: column;
                height: 27em;
                .image-container {
                    height: 13em;
                    width: 85%;
                    margin-bottom: 1em;
                }
                .map {
                    height: 13em;
                    width: 85%;
                }
            }
            .access {
                flex-direction: column;
                h3 {
                    border-bottom: 3px solid $body-color;
                    border-right: none;
                    padding: 0;
                    margin-bottom: 1em;
                }
            }
        }
        #social-container {
            display: none;
        }
    }
}

@include media-breakpoint-up(lg) {
    article.home-page {
        header {
            position: fixed;
            left: 0;
            bottom: calc(-100% - #{$box-size});
            height: $box-size;
            font-size: $box-size / 8;
            transition: bottom .5s ease-in-out;
            &::before {
                content: "";
                position: fixed;
                left: 0;
                bottom: calc(-100% - #{$box-size});
                width: $box-size;
                height: $box-size;
                background: $primary;
                transition: bottom .5s ease-in-out;
            }
            &.show, &.show::before {
                bottom: 0;
            }
            h2 {
                position: relative;
                z-index: 10;
                padding: calc(#{$box-size / 2} - .5em) 1rem;
                padding-left: $page-padding-x-lg;
                background: black;
                background: linear-gradient(90deg, black 0%, black $box-size,
                                $primary $box-size);
                -webkit-background-clip: text;
                background-clip: text;
                color: white;
                -webkit-text-fill-color: transparent;
                font-size: 5em;
                font-style: italic;
                font-weight: 300;
                line-height: 1;
            }
        }
        .section-container {
            display: flex;
            flex-flow: column nowrap;
            min-height: 80vh;
            > section {
                @if $scroll-snap-enabled {
                    scroll-snap-align: start;
                    padding-top: $page-padding-y-lg;
                } @else {
                    padding-top: 4rem;
                }
                padding-bottom: $box-size;
                font-size: 1.25rem;
            }
        }
    }
}

@keyframes rotation {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(359deg);
    }
  }
