$btn-box-shadow-size: .25rem;
$btn-active-box-shadow-size: .05rem;
$btn-box-shadow: $btn-box-shadow-size $btn-box-shadow-size 0 0 black;
$btn-active-box-shadow: $btn-active-box-shadow-size $btn-active-box-shadow-size 0 0 black;
$btn-active-transform: translate($btn-box-shadow-size - $btn-active-box-shadow-size, $btn-box-shadow-size - $btn-active-box-shadow-size);

@mixin button-variant($background, $border, $hover-background: $background, $hover-border: $border, $active-background: darken($background, 10%), $active-border: darken($border, 12.5%)) {
    color: color-yiq($background);
    @include gradient-bg($background);
    border-color: $border;
    border-radius: 20px;
    font-weight: bold;
    transition: $transition-base;
    font-family: $font-family-serif;

    @include hover {
        color: color-yiq($hover-background);
        border-color: $hover-border;
        box-shadow: $btn-active-box-shadow;
        filter: contrast(1.5);
    }

    &:focus,
    &.focus {
    }

    // Disabled comes first so active can properly restyle
    &.disabled,
    &:disabled {
        color: color-yiq($background);
        background-color: $background;
        border-color: $border;
        // Remove CSS gradients if they're enabled
        @if $enable-gradients {
            background-image: none;
        }
    }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active,
    .show > &.dropdown-toggle {
        color: color-yiq($active-background);
        background-color: $active-background;
        @if $enable-gradients {
            background-image: none; // Remove the gradient for the pressed/active state
        }
        border-color: $active-border;

        &:focus {
            box-shadow: $btn-active-box-shadow;
        }
    }
}

@each $color, $value in $theme-colors {
    .btn-#{$color} {
        @include button-variant($value, $value);
        backface-visibility: hidden;
        white-space: nowrap;
        background: linear-gradient(180deg, $color 0%, $color 49%, $color 51%, $color 100%);
        box-shadow: inset 0px 1px 0px rgba(255,255,255,.5),0px 1px 3px rgba(0,0,0,0.3);
    }
}

.btn-primary {
    font-weight: bold;
}

.btn-white {
    @include button-variant(white, black);
    border-width: 1px;
}

.btn.dropdown-toggle + .dropdown-menu {
    font-family: $font-family-serif;
}
