$social-icon-size: 3em;

#footer {
    z-index: 0;
    padding: 1em $page-padding-x-lg;
    padding-bottom: 0.5em;
    border-top: 1px solid rgba(255, 255, 255, 0.7);
    position: relative;
    section {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: auto;
        width: 100%;
    }
    h4 {
        display: inline-block;
        margin-bottom: calc(0.5em);
        text-align: center;
    }
    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;
    }
    #footer-social-container {
        display: flex;
        width: max-content;
        position: absolute;
        left: 1em;
        top: -4em;
        img {
            width: 3.5em;
            height: 3.5em;
            padding: 0.5em;
            opacity: 0.3;
            &:hover {
                cursor: pointer;
                opacity: 1;
            }
        }
    }
    #prev-talks {
        a {
            #prev-talks-card {
                height: 10em;
                max-width: 20em;
                margin-bottom: 1em;
                border-radius: $border-radius;
                display: flex;
                flex-flow: wrap; //for firefox
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: $border-radius;
                    filter: contrast(0.6);
                    
                }
                .prev-talks-btn {
                    width: 90%;
                    height: 2em;
                    margin: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $ted;
                    border-radius: $border-radius;
                    position: relative;
                    top: -3em;
                    cursor: pointer;
                }
            }
            &:hover {
                #prev-talks-card img {
                    filter: contrast(0.8);
                    transition: 0.4s;
                }
                .prev-talks-btn, #prev-talks-btn-sm {
                    transform: scale(1.02);
                }
            }
            #prev-talks-btn-sm {
                display: none;
            }
        }
    }
    #prev-events {
        #prev-events-card {
            height: 10em;
            max-width: 20em;
            margin-bottom: 1em;
            border-radius: $border-radius;
        }
    }
    ul.scrollable-cards {
        &::-webkit-scrollbar {
            display: none;
        }
        height: 100%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        list-style: none;
        padding: 0;
        border-radius: $border-radius;
        li {
            flex-shrink: 0;
            scroll-snap-align: center;
            max-width: 100%;
            height: 100%;
            margin: 0 1em 0 0;
            &:last-child {
                margin: 0;
            }
        }
        a {
            height: 100%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: $border-radius;
            opacity: 0.6;
            &[data-loaded="false"] {
                height: 16em / 21 * 9;
            }
        }
        &:hover {
            img {
                opacity: 0.85;
                transition: 0.4s;
            }
        }
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        h5 {
            margin-bottom: 0;
            color: white;
            font-size: 2em;
            text-shadow: 0 0 20px rgba(0, 0, 0, .9);
        }
    }
    #newsletter {
        #newsletter-card {
            height: 10em;
            width: 100%;
            margin-bottom: 1em;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            align-content: space-around;
            #newsletter-form {
                width: 100%;
                margin-bottom: 1em;
                #newsletter-input-field {
                    width: 100%;
                    height: 2em;
                    border-radius: $border-radius;
                    border: 1px solid $body-color;
                    text-align: center;
                    outline: none;
                    color: $body-color;
                    background-color: transparent;
                    display: flex;
                    margin: auto;
                }
            }
            .submit-btn {
                width: 30%;
                height: 2rem;
                padding: 0 1em;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $ted;
                border-radius: $border-radius;
                font-size: 90%;
                &:hover {
                    transform: scale(1.02);
                    cursor: pointer;
                }
            }
        }
    }
    #footer-bottom {
        .legal {
            max-height: 2em;
            margin-top: .5em;
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 100%;
            text-align: center;
            .links {
                > a, > span {
                    font-size: 0.9em;
                }
                margin-right: 1em;
            }
        }
        .license {
            font-size: .9em;
            color: lighten($body-color, 20%);
        }
    }
}

@include media-breakpoint-down(lg) {
    #footer {
        padding: 0.5em $page-padding-x;
    }
}

@include media-breakpoint-down(sm) {
    #footer {
        section {
            flex-wrap: wrap;
            overflow-y: auto;
        }
        #prev-talks, #prev-events{
            @include make-col(6);
            order: 2;
        }
        #newsletter {
            @include make-col(12);
            order: 1;
            height: 4em;
            header {
                display: none;
            }
            #newsletter-card {
                padding: 0 5%;
                flex-direction: row;
                #newsletter-form {
                    margin-bottom: 0;
                    margin-right: 0.5em;
                }
            }
        }
        #footer-bottom {
            .legal {
                flex-direction: column;
                max-height: 4em;
                .links {
                    > a, > span {
                        font-size: 70%;
                    }
                }
                .license {
                    font-size: 70%;
                }
            }
        }
        #footer-social-container {
            font-size: 0.8rem;
        }
    }
}

@include media-breakpoint-down(xs) {
    #footer {
        #prev-talks, #prev-events {
            &:not(#prev-events) {
                width: 60%;
            }
            @include make-col(12);
            header {
                display: none;
            }
            a {
                width: inherit;
                #prev-talks-card {
                    display: none;
                }
                #prev-talks-btn-sm {
                    width: 100%;
                    height: 2em;
                    margin: auto;
                    margin-bottom: 1.5em;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $ted;
                    border-radius: $border-radius;
                    cursor: pointer;
                }
            }
        }
    }
}
