$nav-hover-border-width: 6px;

nav#nav {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: $page-padding-y $page-padding-x;
    font-size: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    &.scrolled {
        padding: 0.6*$page-padding-y $page-padding-x;
        transition: 0.4s;
    }
    #navbar-nav {
        &.scrolled {
            margin-top: 0.15em;
            transition: 0.4s;
        }
    }
    hr {
        flex-basis: 100%;
        height: 0;
        margin: 0;
        border: 0;
    }

    //for sticky navbar
    position: fixed;
	top: 0;
    width: 100%;
    background-color: $body-bg;
    z-index: 10;
}

.navbar-brand {
    height: $logo-height-lg;
    margin-right: auto;
    font-size: inherit;
    &:hover {
        border-color: $primary;
    }
    img {
        height: 100%;
        width: auto;
    }
}

.navbar-toggler {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 3.6em;
    margin-left: 4vw;
    outline: none !important;
    padding: 0 .75rem;
    font-size: 1em;
    > span {
        margin-top: .25em;
    }
    .unexpanded {
        display: flex;
    }
    .expanded {
        display: none;
    }
    &[aria-expanded="true"] {
        .unexpanded {
            display: none;
        }
        .expanded {
            display: flex;
        }
        .navbar-toggler-icon {
            width: 2em;
            height: 2em;
            span:nth-child(1) {
                transform: rotate(45deg);
                transform-origin: bottom left;
                width: 124%;
            }
            span:nth-child(2) {
                display: none;
            }
            span:nth-child(3) {
                transform: rotate(-45deg);
                transform-origin: top left;
                width: 124%;
            }
        }
    }
}

.navbar-toggler-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 2.5em;
    height: 1.6em;
    span {
        display: block;
        width: 100%;
        border-radius: 20%;
        height: 0.2em;
        background-color: $navbar-toggler-color;
    }
}

.navbar-nav {
    position: absolute;
    top: calc(#{$page-padding-y} + 2.8em);
    left: 0;
    right: 0;
    z-index: 50;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 2*$page-padding-x $page-padding-y;
    margin-top: .75em;
    background: $body-bg;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 0 0 $border-radius $border-radius;
    &.collapsing {
        transition: 0.4s;
    }
    .nav-link {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: .25em;
        color: inherit;
        font-family: $font-family-serif;
        font-size: 1.5em;
        font-weight: 500;
        &:hover, &:active, &.active {
            .nav-item-text {
                @include underline(3px, 3px);
            }
        }
        &.dropdown-toggle {
            &::after {
                content: none;
            }
            display: none;
        }
    }
    .dropdown-toggle-hidden {
        display: flex;
    }
    .nav-link-icon, .nav-dropdown-item-icon {
        width: 1em;
        height: 1em;
        margin-right: .4em;
        display: none;
    }
    .nav-dropdown-item-icon img {
        width: 100%;
        height: 100%;
    }
    .dropdown-menu {
        background-color: $body-bg;
        display: flex;
        flex-direction: column;
        min-width: auto;
        margin: 0 0 0 2.5em;
        padding: 0;
        border: none;
        font-size: 1em;
    }
    .dropdown-item {
        &:active, &.active {
            background: none;
        }
    }
}

.language-switch-container {
    position: absolute;
    top: 0;
    right: $page-padding-x;
    z-index: 10;
    text-align: right;
}

/**
Enforce that dropdown becomes static for small screens.
 */
@include media-breakpoint-down(sm) {
    .navbar-brand {
        height: $logo-height;
    }
    .navbar-nav .dropdown-menu {
        position: static !important;
        transform: none !important;
    }
}

@include media-breakpoint-up(md) {
    nav#nav {
        font-size: 1.1rem;
        hr {
            display: none;
        }
    }
    .navbar-toggler, .language-switch-container {
        display: none;
    }
    .navbar-nav {
        position: relative;
        top: auto;
        flex-direction: row;
        align-items: center;
        width: auto;
        margin-top: 0;
        margin-left: auto;
        padding: 0;
        border: none;
        &.collapse:not(.show) {
            display: flex;
        }
        .nav-link {
            flex-direction: column;
            align-items: center;
            padding: .1em 1vw;
            margin-bottom: 0;
            // border-bottom: $nav-hover-border-width solid transparent;
            font-size: .9em;
            &:hover, &:active, &.active {
                border-color: $primary;
            }
            &.dropdown-toggle {
                display: flex;
                .nav-item-text {
                    @include caret;
                    &::after {
                        vertical-align: $caret-width * .6;
                    }
                }
            }
            .nav-link-icon {
                display: flex;
                width: 1.5em;
                height: 1.5em;
                margin-bottom: .2em;
                margin-right: 0;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                }
            }
        }
        .nav-item > .nav-link {
            &:hover, &:active, &.active {
                .nav-item-text {
                    box-shadow: none;
                }
            }
        }
        .dropdown-toggle-hidden {
            display: none;
        }
        .dropdown-menu {
            display: none;
            flex-direction: column;
            min-width: 8em;
            &.show {
                display: flex;
            }
            margin: .125rem 0 0;
            padding: .5rem 0;
            border: 1px solid $body-color;
            border-radius: 10px;
        }
        .dropdown-item {
            flex-direction: row;
            align-items: center;
            padding: .4em 1em;
            border: none;
            line-height: 1;
        }
        .nav-dropdown-item-icon {
            width: 1em;
            height: 1em;
            margin-right: .4em;
        }
    }
}
@include media-breakpoint-up(lg) {
    nav#nav {
        padding: $page-padding-y-lg $page-padding-x-lg;
        font-size: 1.35rem;
        &.scrolled {
            padding: 0.4*$page-padding-y-lg $page-padding-x-lg;
            transition: 0.4s;
        }
    }
    .navbar-nav {
        .nav-link-icon {
            margin-bottom: .35em;
        }
    }
}
