article.sponsors {
    h2 {  
        text-align: center;
        margin: 2rem 0;
        font-size: 2rem;
        &.PS-heading {
            font-size: 2.5rem;
        }
        &.GS-heading {
            font-size: 2.25rem;
        }
    }

    .category-container{
        display: flex;
        flex-direction: column;
    }

    .partners-collection{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        @include make-col(12);
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;  
    }

    .partner-instance{ 
        @include make-col(3);
        max-width: 100%;
        margin: 2em 0;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 1vw;
        padding: 2vh; 
        position: relative;

    .image-container{
        position: relative;
        margin: auto;
        width: 10em;
        height: 10em;
        max-height: 100%;
        max-width: 100%;
        background-color: white;
        border-radius: 20px;
        align-self: center;
        &.hover{
            .website-button{
                display: flex;
            }
            .logo{
                filter: blur(5px);
                -webkit-filter: blur(5px); 
            }
            &.hasCareerLink{
                .website-button{
                    top:30%;
                    left: 10%;
                }
                .career-button{
                    display: flex;
                }   
            }
        }
    }

    .logo{
        width: 100%;
        height:100%;
        object-fit: contain;
        border-radius: 25px;
        padding: 1em;
    }
}

    .career-button{
        position: absolute;
        top: 30%;
        right: 10%;
        height: 35%;
        width: 35%;
        height: 35%;
        width: 35%;
        border-radius: 20px;
        border: 1px solid black;
        display: inline-block;
        align-self: center;
        z-index:1;
        display: none;
        p{
            font-weight: bold;
            font-size: 0.8em;
            color: black;
            width: 100%;
            height: 40%;
            position: absolute;
            top: 25%;
            text-align: center;
            line-height: 1.1;
        }
    }

    .career-button:hover{
        background-color: black;
        p{
            color:white;
        }
    }

    .website-button{
        position: absolute;
        top:32.5%;
        left:32.5%;
        height: 35%;
        width: 35%;
        border-radius: 20px;
        border: 1px solid black;
        z-index:1;
        display: none;
        p{  
            font-weight: bold;
            font-size: 0.8em;
            color: black;
            width: 100%;
            height: 40%;
            position: absolute;
            top:30%;
            text-align: center;
            z-index:2;
        }
    }
    
    .website-button:hover{
        background-color: black;
        p{
            color:white;
        }
    }


    //partner categories
    .category#PS {
        h2{
            margin-top: 1rem;
        }
        .partner-instance{
            @include make-col(12);
            max-width: unset;
            max-height: unset;
            width: 25em;
            height: 25em;
            .image-container{
                width: 20em;
                height: 20em;
                max-width: 100%;
                max-height: 100%;
            }
            .career-button{
                p{
                    font-size: 1.5em;
                    top:30%;
                }
            }
            .website-button{
                p{
                    font-size: 1.5em;
                    top:40%;
                }
            }
            .triangle{
                width: 2.5em;
                height: 2.5em;
                position: absolute;
                top:0%;
                right:0%;
                border-bottom: solid 1.7em #CACACA;
                border-bottom-left-radius: 15px;
                border-left: solid 1.7em #CACACA;
                border-top: solid 1.7em $body-bg;
                border-right: solid 1.7em $body-bg;
            }
            .triangle:hover{
                width: 3em;
                height: 3em;
                border-bottom: solid 2em #CACACA;
                border-bottom-left-radius: 15px;
                border-left: solid 2em #CACACA;
                border-top: solid 2em $body-bg;
                border-right: solid 2em $body-bg;
                cursor: context-menu;
                transition-duration: 0.5s ;
                .leaflet-button{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    .category#GS {
        .partner-instance{
            @include make-col(4);
            width: 20em;
            height: 20em;
            max-width: 100%;
            max-height: 100%;
            .image-container{
                width: 15em;
                height: 15em;
                max-height: 100%;
                max-width:100%;
            }
            .career-button{
                p{
                    font-size: 1em;
                    top:40%;
                }
            }
            .website-button{
                p{
                    font-size: 1em;
                    top:37%;
                }
            }
            .triangle{
                width: 1.7em;
                height: 1.7em;
                position: absolute;
                top:0%;
                right:0%;
                border-bottom: solid 1.2em #CACACA;
                border-bottom-left-radius: 15px;
                border-left: solid 1.2em #CACACA;
                border-top: solid 1.2em $body-bg;
                border-right: solid 1.2em $body-bg;
            }
            .triangle:hover{
                width: 3em;
                height: 3em;
                border-bottom: solid 1.7em #CACACA;
                // border-bottom-left-radius: 15px;
                border-left: solid 1.7em #CACACA;
                border-top: solid 1.7em $body-bg;
                border-right: solid 1.7em $body-bg;
                cursor: context-menu;
                transition-duration: 0.5s ;
            }
        }
    }

}

/////////////////////////////////
// Modal
/////////////////////////////////
.modal{
    padding-right: 0 !important;
}   
.modal-dialog{
    width: 100% !important;
    height: 100% !important;
    max-width: none;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.modal-content{
    height: 95% !important;
    background: transparent;
    border: 0;
    padding: 0 0.5rem;
}
.modal-body{
    height: 100% !important;
    padding: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.iframe-div{
    height: 100%;
    width: 80vw;
}

@include media-breakpoint-up(xl){
    .image-container:hover{
        .website-button{
            display: flex;
        }
        .logo{
            filter: blur(5px);
            -webkit-filter: blur(5px); 
        }
        &.hasCareerLink{
            .website-button{
                top:30%;
                left: 10%;
            }
            .career-button{
                display: flex;
            }   
        }
    }
}

@include media-breakpoint-down(md){
    article.sponsors {
        .partner-instance{
            height: 40vw;
            width: 40vw;
            margin: 0 0 !important;
        }
        .triangle{
            margin: -1px;
        }
        .website-button, .career-button{
            // background-color: black;
            border-radius: 10px;
            font-size: 0.8rem;
            p{
                top:20%;
            }
            // height: 70%;
            // width: 70%;
            // background-color: black;
            // opacity: 0.7;
            // p {
            //     font-weight: bold;
            //     text-shadow: black;
            //     color: $body-color;
            // }
        }
        .category#PS{
            .website-button, .career-button{
                font-size:1rem;
            }
        }       
        .category#GS{
            .website-button, .career-button{
                p{
                    top:30%;
                }
            }
        }
    }
}