main article.listing-page {
    padding: 0 $page-padding-x-lg $page-padding-y-lg;
}

article.listing-page {
    .listing-grid {
        h4 {
            font-size: 0.9rem;
        }
        h3 {
            font-size: 1.2rem;
            margin: auto;
        }
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        width: 100%;
        a { 
            padding: 0px 5px;
            &.placeholder {
                opacity: 0.6;
                transform: none;
                .parent:hover {
                    .flip_card_inner {
                        transform: none;
                    }   
                }
            }
            .parent {
                position: relative;
                width: 100%;
                margin: 1.5em auto;
                height: calc(2*5vw + 10em);
                .flip_card_inner {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    transition: transform 0.3s ease-out;
                    transform-style: preserve-3d; 
                    overflow: hidden;
                    border-radius: $border-radius;
                    box-shadow: $box-shadow-soft;
                    .image1 {
                        width: 100%; 
                    }
                    .background-lower {
                        z-index: 2;
                        border-radius: 0 0 $border-radius $border-radius;
                        opacity: 0.85;
                        margin-top: auto;
                        object-fit: contain;
                    }
                    .image2 {
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        top: 0;
                        object-fit: cover;
                        border-radius: $border-radius;
                    }
                    .boxed {
                        position: absolute;
                        bottom: 0px;
                        height: 23%;
                        width: 100%;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        flex-flow: column; 
                        overflow: auto;
                        z-index: 2;
                        h4:last-child {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
@include media-breakpoint-up(sm) {
    article.listing-page { 
        .listing-grid{
            a:not(.placeholder) .parent:hover {
                .flip_card_inner {
                    transform: rotateY(180deg);
                    img {
                        transform: rotateY(-180deg);
                    }
                }
                .boxed {
                    h3, h4 {
                        display: none;
                    }
                    h4:last-child {
                        transition: transform 0.5s;
                        display: block;
                        transform: rotateY(-180deg);
                        margin: auto;
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
}
@include media-breakpoint-down(sm) { 
    main article.listing-page{
        padding: 0 $page-padding-x $page-padding-y;
    }

    article.listing-page {
        .listing-grid {
            h4 {
                font-size: 0.9rem;
            }
            h3 {
                font-size: 1.1rem;
                margin-bottom: 0.2rem;
                font-weight: bold;
            }
            a {
                .parent {
                    width: 95%;
                    .flip_card_inner {
                        .boxed {
                            bottom: 0.7em;
                            height: 3.5em;
                            align-items: stretch;
                            position: absolute;
                            bottom: 0px;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
@include media-breakpoint-down(xs) { 
    main article.listing-page{
        padding: 0 5px;
    }

    article.listing-page {
        .listing-grid {
            h4 {
                font-size: 0.8rem;
            }
            h3 {
                font-size: 1rem;
                margin-bottom: 0.1rem;
            }
            a {
                .parent {
                    .flip_card_inner {
                        .boxed {
                            bottom: 0.7em;
                            height: 3em;
                            align-items: stretch;
                            position: absolute;
                            bottom: 0px;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}