main article.presenter-page {
    padding: 0 $page-padding-x-lg $page-padding-y-lg;
}

article.presenter-page {
    margin-top: 1em;
    .back-btn {
        margin: 1em;
    }
    .presenter {
        display: flex;
        flex-direction: column;
        margin-top: 1.5em;
    }
    img {
        margin: 0;
        width: 100%;
        height: auto;
        flex-shrink: 0;
        border-radius: $border-radius;
        background: black;
    }
    .image-placeholder div {
        width: 50vw;
        height: 50vw;
        margin: 0 auto;
    }
    .info {
        display:flex;
        flex-direction: column;
        justify-content: center;
        .name_link_oc {
            display:flex;
            flex-direction: column;
            margin-left: 3.5%;
            .name_link {
                display:flex; 
                flex-direction: row;
                flex-wrap:nowrap;
            }
        }
        #description {
            #collapse-one { 
                height: 120px; 
                overflow-y: hidden;
                &.show {
                    height: max-content;
                    transition: 0.5s;
                }
                &.collapse:not(.show) {
                    display: flex;
                }
            }
        }
        [data-toggle="collapse"].collapsed .if-not-collapsed {
            display: none;
          }
        [data-toggle="collapse"]:not(.collapsed) .if-collapsed {
            display: none;
        }
    }
    .activities {
        display: flex;
        flex-direction: row;
        margin-top: 3em;
        margin-left: 3.5%;
    }
}
@include media-breakpoint-up(sm) {
    article.presenter-page {
        padding: 0 $page-padding-x-lg $page-padding-y-lg;
        .presenter {
            display: flex;
            flex-direction: row;
            margin-top: 1.5em;
            padding: 0.1em;
            margin: 0em;
            img {
                width: 100%;
                height: auto;
                flex-shrink: 0;
                object-fit: cover;
                padding-left: 0em; 
                min-width: 9em;
                min-height: 14em;
                border-radius: $border-radius;
            }
            .image-placeholder div {
                width: 30em;
                max-width: 50vw;
                height: 30em;
                max-height: 50vw;
            }
            .info {
                display: flex;
                align-content: right;
                flex-direction: row;
                .name_link_oc {
                    display:flex;
                    flex-direction: column;
                    max-width: 100%;
                    padding: 2px;
                    margin-left: 1%;
                    margin-top:1em;
                    .name_link {
                        display:flex;
                        flex-direction: row;
                    }
                }
                .content {
                    line-height: 1.75;
                    padding: 5px;
                }
                #description {
                    #collapse-one { 
                        margin-right: 10%;
                    }
                }
            }
        }
        .activities {
            margin-left: -1%;
            .activity {
                display: flex;
                flex-direction: column;
                margin-top: 1.5em;
                padding: 5px;
                border-left: 1px solid rgb(255, 255, 255);
                margin-left: 2.3%;
                .name_title {
                    padding: 5px;
                }
                .content {
                    display: flex; 
                    margin-right: 10%; 
                    margin-left: 0.5%;
                }    
            }
        }
        h1 {
            margin-bottom: 0px;
            font-weight: bold;
            color: rgb(255, 255, 255);
        }
        h6 {
            font-family: $font-family-sans-serif;
            font-weight: lighter;
            margin-bottom: 1rem;
        }
        h5 {
            margin-bottom: .25rem;
            color: rgb(255, 255, 255);
        }
    }
}

@include media-breakpoint-down(xs) {
    main article.presenter-page{
        padding: 0 $page-padding-x $page-padding-y;
        .info {
            margin-top: 2em;
        }
    }
}