{% load i18n %}
{% load static %}
<section id="hero">
    <div id="totem-left" class="totem-container col-2">
        {% if settings.TEDXNTUA_EASTER_EGGS %}
        <a class ="easter-egg1" href = "https://www.eventora.com/el/Events/tedxntua-ubuntu-hidden-ticket-" target="_blank"></a>
        {% endif %}
        <img src="{% static "images/totem-hero-left.png" %}" loading="lazy-on-view" alt="totem-left">
    </div>
    <div class="content col-8">
    {% if settings.TEDXNTUA_SHOW_LIVE %}
        <iframe src="https://www.youtube.com/embed/TLbrtHJfoAE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    {% else %}
        {% if settings.TEDXNTUA_EASTER_EGGS %}
        <a class ="easter-egg2" href = "https://www.eventora.com/el/Events/tedxntua-ubuntu-hidden-ticket--1" target="_blank"></a>
        {% endif %}
        <img id="main-logo" class="image" loading="lazy-on-view"
                    srcset="{% static 'images/ubuntu-main-logo-transparent-540.png' %} 540w,
                            {% static 'images/ubuntu-main-logo-transparent-1024.png' %} 1024w,
                            {% static 'images/ubuntu-main-logo-transparent-2400.png' %} 2400w"
                    sizes="(max-width: 768px) 540px,
                            (max-width: 1366px) 1024px,
                            2400px"
                    src="{% static 'images/ubuntu-main-logo-transparent-540.png' %}"
                    alt="main-logo" />
        <div class="infobox">
            <time class="date" datetime="{{ event_date }}"
                aria-label="{{ event_date }}">
            <h2 class="monthday">{% trans 'home.date' %}</h2>
            {% if settings.TEDXNTUA_VENUE_ENABLED %}
            <div class="location">
                <h4>
                    <span>{% trans 'home.metallourgeio' %}</span>
                    <span>{% trans 'home.kerameikos' %}</span>
                    <span>{% trans 'SOLD OUT' %}</span>
                </h4>
                <img src="{% static "images/linked-circles.png" %}" alt="linked-circles">
                <h4>
                    <span>{% trans 'Parallel' %}</span>
                    <span>{% trans 'Online Event' %}</span>
                    <span>{% trans 'Starting 19:30' %}</span>
                </h4>
            </div>
            {% endif %}
        </div>
        {% if settings.TEDXNTUA_TICKETS_ENABLED %}
        <a href="{{ settings.TEDXNTUA_TICKETS_URL }}" class="btn btn-lg btn-primary" target="_blank">
            {% trans 'tickets.cta' %}
        </a>
        {% else %}
        <h3>Tickets soon available ...</h3>
        {% endif %}
    {% endif %}
    </div>
    <div id="totem-right" class="totem-container col-2">
        <img src="{% static "images/totem-hero-right.png" %}" loading="lazy-on-view" alt="totem-right">
    </div>
</section>
