{% load i18n %}
{% load static %}
<section id="hero">
    <div id="totem-left" class="totem-container col-2">
        <img src="{% static "images/totem-hero-left.png" %}" alt="totem-left">
    </div>
    <div class="content col-8">
        <h2>TEDxNTUA</h2>
        <img src="{% static "images/ubuntu-main-logo.png" %}" alt="main-logo">
        <div class="infobox">
            <time class="date" datetime="{{ event_date }}"
                aria-label="{{ event_date }}">
                <h2 class="monthday">{% trans 'home.date' %}</h2>
            <div class="location">
                <h3>
                    <span>The Hub</span><span>Events</span>
                </h3>
                <img src="{% static "images/linked-circles.png" %}" alt="linked-circles">
                <h3>
                    <span>Kerameikos</span>
                </h3>
            </div>
        </div>
        {% if settings.TEDXNTUA_TICKETS_ENABLED %}
        <a href="{{ settings.TEDXNTUA_TICKETS_URL }}" class="btn btn-lg btn-primary">
            {% trans 'tickets.cta' %}
        </a>
        {% endif %}
    </div>
    <div id="totem-right" class="totem-container col-2">
        <img src="{% static "images/totem-hero-right.png" %}" alt="totem-right">
    </div>
</section>
