{% load i18n %}
{% load static %}
<section id="panels">
    <h2 class="mb-3">{% trans 'PARTNER PANELS' %}</h2>
    <div class="panels-container">
        <div class="google-meet-container">
            <div class="partner-title">
                <img src="{% static "images/PwC_colour.png" %}" alt="dialogues"/>
                <h3 class="partner-name">PWC</h3><span> (13:00-13:40)</span>
            </div>
            <a class="google-meet-btn" href="https://meet.google.com/ndh-wepq-qid" target="_blank">
                <object data="{% static "images/google-meet-icon.svg" %}" width="32" height="32"></object>
                <p>{% trans 'Join the room' %}</p>
            </a>
            <div class="partner-title">
                <img src="{% static "images/alba-logo.png" %}" alt="dialogues"/>
                <h3 class="partner-name">Deree</h3><span> (11:30-12:00)</span>
            </div>
            <a class="google-meet-btn" href="http://meet.google.com/sfg-xmtp-xch" target="_blank">
                <object data="{% static "images/google-meet-icon.svg" %}" width="32" height="32"></object>
                <p>{% trans 'Join the room' %}</p>
            </a>
        </div>
        <div class="youtube-video-container">
            <div class="partner-title">
                <img src="{% static "images/logo_bosch.jpeg" %}" alt="dialogues"/>
                <h3 class="partner-name">BOSCH</h3>
            </div>
            <iframe src="https://www.youtube.com/embed/IkgrvhmWmAo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</section>