{% load static %}
<div id="social-container">
    <a href="https://www.instagram.com/tedxntua/?hl=en" target="_blank">
        <img src="{% static "images/social-instagram.png" %}">
    </a>
    <a href="https://www.facebook.com/tedxntua/" target="_blank">
        <img src="{% static "images/social-facebook.png" %}">
    </a>
    <a href="https://www.linkedin.com/company/tedxntua/" target="_blank">
        <img src="{% static "images/social-linkedin.png" %}">
    </a>
    <a href="https://www.youtube.com/channel/UCVtjgrrBdSPZERmdso2o0dw/featured" target="_blank">
        <img src="{% static "images/social-youtube.png" %}">
    </a>
</div>