{% load i18n %}
{% load static %}
<section id="summary">
    <div class="summary-container">
        <model-viewer src="{% static "images/3D_totem_color.glb" %}" 
                      alt="totem" loading="eager" reveal="auto"
                      auto-rotate rotation-per-second="60deg"
                      exposure="0.1"
                      shadow-intensity="2"
                      shadow-shoftness="10"
                      id="summary-totem">
        </model-viewer>
        <div class="summary-text col-lg-9 col-md-8 col-sm-11">
            {% trans 'home.ubuntu_summary' %}
            {% trans 'home.ubuntu_full' %}
        </div>
    </div>
</section>