{% load i18n %}
{% load static %}
<section id="venue">
    <h2 class="mb-3">{% trans 'home.venue.title' %}</h2>
    <h3>{% trans 'home.venue.name' %}</h3>
    <p>{% trans 'home.venue.address' %}</p>
    <div class="location">
        <div class="image-container">
            <img src="{% static "images/venue.jpg" %}"
                    alt="{% trans 'home.venue.photo_alt' %}" />
        </div>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5066.415495484402!2d23.70867408884035!3d37.974345059797336!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x979d78880ab49bfc!2sMetallourgeio!5e0!3m2!1sen!2sgr!4v1621531427869!5m2!1sen!2sgr" allowfullscreen=""></iframe>
        </div>
    </div>
    <div class="access my-5 m-md-5">
        <h3 class="col-md-3 col-9">{% trans 'home.venue.get_there' %}</h3>
        <div class="content col-md-9 col-12">
            {% trans 'home.venue.access' %}
        </div>
    </div>
</section>
